/* This stylesheet is intended for PISA, the PDF builder. It uses some custom notations. 
 See also: 
    - https://github.com/chrisglass/xhtml2pdf/blob/master/doc/usage.rst
    - http://xhtml2pdf.appspot.com/static/pisa-en.html
*/

@page {
    size: letter portrait;
    margin: 0.75in;

    @frame footer {
        -pdf-frame-content: footer;
        /* -pdf-frame-border: 0; */
        width: 8in;
        margin: 0.25in 0.25in 0.25in 0.25in;
        left: 0in;
        bottom: 0in;
        height: 0.75in;

    }

}


body {
    font-size: 10pt;
    font-family: sans-serif;
}

body div#footer {
    text-align: right;
    color: #999;
}


body h1 {
    font-size: 2em;
}



body h3 {

}


body code {
    display: block;
    margin: 1em;
    padding: 1em;
    border-left-width: 1px;
    border-left-style: inset;
    border-left-color: {{border-color-code}};
    border-top-width: 1px;
    border-top-style: inset;
    border-top-color: {{border-color-code}};
    border-bottom-width: 1px;
    border-bottom-style: inset;
    border-bottom-color: {{border-color-code}};
    border-right-width: 1px;
    border-right-style: inset;
    border-right-color: {{border-color-code}};
    /* color: #007700; */
    font-family: Courier New, monospace;
}


a[href^="mailto:"] {
    text-decoration: none;
}